.input-xs, .form-control, .form-group {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; //If Placeholder of the input is moved up, rem/modify this.
    border-radius: 3px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 5px;
    padding-left: 5px;
}

.glyphicon {
    font-size:0.8em;
}

#time1 .btn, #time2 .btn, #date1 .btn, #date2 .btn {
	padding: 0px;
}
h4 {
	font: bold;
}
label, td {
	font-size:.9em;
}
.panel-body {
	padding-top: 0px;
    padding-bottom: 0px;
}
a:hover{
    text-decoration: none;
}

.panel-heading {
	padding: 5px 0px 0px 5px;
	height: 30px;
}
#download .label {
	font-size:1em;
}
.panel {
	margin-bottom:10px;
}

.center {
	text-align:center;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 4px;
}

.status {
	min-width: 20px;
}

/* Tabs Begin */
 .nav-tabs > li > div {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
  }

  .nav-tabs > li > div:hover {
    border-color: #eee #eee #ddd;
  }

  .nav-tabs > li.active > div, .nav-tabs > li.active > div:hover {
    color: #555;
    cursor: default;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
  }

  .nav > li > div {
    position: relative;
    display: block;
    padding: 10px 15px;
  }

 .nav > li > a {
    padding: 3px 5px;
  }
  
  .nav > li > div:hover {
    background-color: #eee;
  }

  .uib-tab > div {
    color: #337ab7;
    cursor: pointer;
  }

  .nav-tabs > li.disabled > div { 
    color: #999; 
  }

  .nav-tabs>li.disabled>div:hover, .nav-tabs>li.disabled>div:focus {
    color: #999;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed;
  }

  form.tab-form-demo .tab-pane {
    margin: 20px 20px;
  }
  
/* Tabs End */

  .CodeMirror {
	  font-size: 0.9em  !important;
	  border: 1px solid #eee;
	  height: auto !important; 
  }
  
  .btn {
	padding: 2px 4px !important;
	margin: 0px 2px !important;
  }
  
  .container {
  	 width: 100% !important;
  }
  
  .panel-body {
  	margin: 5px 0px;
  }
  
  .endpoint {
    margin-top:5px;
    background-color:#E8E8E8;
    border: 1px solid #eee;
  }
  
  body {
  	background:#f8f8f8; 
  }

  /* Background */
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcecfc+0,fd89d7+65,ff7cd8+100 */
.header {
	height:25px;
	margin:3px 0px !important;
	color:black;
	border:1px solid #b8bac6;
	vertical-align:middle !important;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e1e1e1+25,e1e1e1+48,f1f1f1+77,f6f6f6+100;White+Gloss+%231 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(45deg,  #ffffff 0%, #e1e1e1 25%, #e1e1e1 48%, #f1f1f1 77%, #f6f6f6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #ffffff 0%,#e1e1e1 25%,#e1e1e1 48%,#f1f1f1 77%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #ffffff 0%,#e1e1e1 25%,#e1e1e1 48%,#f1f1f1 77%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
  